.menu {
  list-style-type: none;
  margin: 0;
  padding-left: 200px;
  background-color: rgb(53, 195, 72);
}

.menu li {
  display: inline-block;
  position: relative;
}

.menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #5be95bd2;
  border: 1px solid #ccc;
}

.menu li:hover .submenu {
  display: block;
}

.submenu li {
  display: block;
}

.submenu li a {
  padding: 8px 15px;
  color: #555;
}

.submenu li:hover {
  background-color: #f0f0f0;
}

.menu .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #5be95bd2;
  border: 1px solid #ccc;
}

.menu .submenu li:hover .submenu-1 {
  display: block;
}

.menu .submenu-1 {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #5be95bd2;
  border: 1px solid #ccc;
}